# Ignorar arquivos de build gerados
node_modules/
*.log
yarn.lock
npm-debug.log*
yarn-error.log*
/build/

# Ignorar arquivos de configuração locais
.env
.env.local
.env.*.local

# Ignorar arquivos gerados automaticamente
*.expo*
*.jks
*.keystore
*.pem

# Ignorar arquivos de dependências de desenvolvimento
**/__tests__/
**/__mocks__/
**/*.spec.js
**/coverage/
**/e2e/

# Ignorar arquivos específicos
.DS_Store
*.temp
